@charset "utf-8";
h1 ~ div{
    color: red;
  }

  .section_inner{
    padding: 50px 10% 30px;
  }
  
.grad{
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  
  background: center/ content no-repeat url(../image/sample_key.jpg);
position: fixed;

}  

  .key {
    height: 500px;
    background: center/ cover no-repeat url(../image/sample_key.jpg);
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
  }
  .post{}
  .key h1{
    font-size: 2.5rem;
  }
/* 

  .center {
    text-align: center;
    
    line-height: 1.7;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  p .center{
    line-height: 1.7;
  } */
header{
  font-family: 'Noto Serif JP', serif;
 
}
.title{
font-size: 40px;
}
.menu_title{
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}

.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.center {
  text-align: center;
}


.coffee_menu_image{
  width: 20%;
  border-radius: 50%;
}

.header_nav{
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  width: 100%;
}
  
.global_nav_item{
  color: white;
  text-decoration: none;
  list-style: none;
  align-items: center;
  padding: 0 20px;
}

.global_nav_item:hover{
  color: #42210b;
  background: #fff;
}

.global_nav{
  display: flex;
  align-items: stretch;
}
.logo{
  display: flex;
  width: 120px;
  align-items: center;
}
.logo img{
  width: 100%;
}
footer{
  display: flex;
  align-items: stretch;
  background:  rgba(0,0,0,.6);
}